  <div id="page wrapper">
  	<div id="profile_image">
  		<%= image_tag "profile.jpeg" %>
  	</div>

   <div id="content">
     <h1>It's Mr. Stick Figure </h1>
     <p>VHS ascot farm-to-table jean shorts actually, hammock banjo 3 wolf moon flexitarian pop-up iPhone cliche tonx 90's. Taxidermy distillery mixtape lyft af biodiesel. Freegan big mood biodiesel polaroid quinoa drinking vinegar. Vice blue bottle poke cornhole. Schlitz blue bottle squid +1, tonx woke gluten-free unicorn. Neutra keffiyeh farm-to-table, sartorial meditation crucifix drinking vinegar swag you probably haven't heard of them normcore ennui tofu.</p>

    </div>
  
  </div>   
